<app-header></app-header>


<div class="content" align="left">

	<h3>View Customer Details</h3>
	<br/>
	
	<table id="tableCustomerDetails" style="width:50%; cellpadding: 1px; cellspacing: 1px;">
		<thead>
			<tr>
				<th>ID</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>Male</td>
			</tr>
			<tr>
				<th>Frist Name</th>
				<td>Ze Yang</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>Lim</td>
			</tr>
			<tr>
				<th>Last Log In</th>
				<td>2019-01-27T14:00:00.000+0000</td>
			</tr>
			<tr>
				<th>Date Of Birth</th>
				<td>2000-02-01T00:00:00.000+0000</td>
			</tr>
		</thead>
	
	</table>
</div>
<br/>
<br/>
<br/>

<div class="content" align="left">

	<h3>Transfer Fund</h3>
	<br/>

	<select [(ngModel)] = "payees" (click)="view($event.target.value)">
		<option value="1">--Select--</option>
		<option *ngFor = "let p of payees" value = {{p}} >
			{{p}}	
		</option>
	</select>
</div>

<br/>

<div class="content" align="left">	
	<table id="tablePayeeDetails" style="width:50%; cellpadding: 1px; cellspacing: 1px;">
		<thead>
			<tr>
				<th>Frist Name</th>
				<td>Amy</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>Tan</td>
			</tr>
			<tr>
				<th>Account No</th>
				<td>8888888</td>
			</tr>
		</thead>
	
	</table>
</div>

<br/>
<br/>
<br/>
	<div class="content" align="left">
	<h3>View Historical Transaction Statistics</h3>
	<img src="assets/image/TransHistory.png" alt="Bar Chart">
	<br/>	
	</div>

	<br/>
	<br/>

	<div class="content" align="left">
	<h3>View Transaction Details</h3>

	<br/>

	<table id="tableTransactionDetails" style="width:50%; cellpadding: 1px; cellspacing: 1px;">
		<thead>
			<tr>
				<th>Transaction ID</th>
				<td>d1911856-60cc-48fb-aac7-f4cb2be6efba</td>
			</tr>
			<tr>
				<th>Account Id</th>
				<td>10</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>DEBIT</td>
			</tr>
			<tr>
				<th>Amount</th>
				<td>16.41</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>2018-01-01T19:00:00.000+0000</td>
			</tr>
			<tr>
				<th>Tag</th>
				<td>F&B</td>
			</tr>
			<tr>
				<th>Reference Number</th>
				<td>297899874 BONES</td>
			</tr>
		</thead>
	</table>
</div>
<br/>
<br/>


<app-footer></app-footer>

