<app-header></app-header>


<div class="content" align="left">

	<h3>View Customer Details</h3>
	<br/>
	
	<table id="tableCustomerDetails" style="width:30%; cellpadding: 1px; cellspacing: 1px;">
		<thead>
			<tr>
				<th>ID</th>
				<td>{{customerId}}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>{{gender}}</td>
			</tr>
			<tr>
				<th>Frist Name</th>
				<td>{{firstName}}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{lastName}}</td>
			</tr>
			<tr>
				<th>Last Log In</th>
				<td>{{lastLogIn}}</td>
			</tr>
			<tr>
				<th>Date Of Birth</th>
				<td>{{dateOfBirth}}</td>
			</tr>
		</thead>
	
	</table>
</div>
<br/>
<br/>
	<div class="content" align="left">
	<h3>View Historical Transaction Statistics</h3>
	<img src="/src/pbx.jpg" alt="Bar Chart">
	<br/>	
	</div>

	<br/>
	<br/>

	<div class="content" align="left">
	<h3>View Transaction Details</h3>

	<br/>

	<table id="tableTransactionDetails" style="width:30%; cellpadding: 1px; cellspacing: 1px;">
		<thead>
			<tr>
				<th>Transaction ID</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Account Id</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Amount</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Tag</th>
				<td>{{transactionId}}</td>
			</tr>
			<tr>
				<th>Reference Number</th>
				<td>{{transactionId}}</td>
			</tr>
		</thead>
	</table>
</div>



<app-footer></app-footer>

